 /* body {
  font-family: Cairo !important;
  margin-top: 50px;
  background-color: #fff; 
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #39464e;
}
.navbar-default {
  background-color: #fff;
  margin-left: 200px;
} 
.msb {
  width: 100%; 
  background-image: linear-gradient(#303030 13%, #1e1e1e 40%, #0c0d11 86%) !important;
  position: relative;
  left: 0;
  top: 0;
  right: auto;
  min-height: 100%;
  overflow-y: auto;
  white-space: nowrap;
  height: 100%;
  z-index: 1;
  border-right: 1px solid #ddd;
  border-radius: 10px;
  
}
.msb .navbar {
  border: none;
  margin-left: 0;
  background-color: inherit;
}
.msb .navbar-header {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 20px;
  background: #fff;
}
.msb .navbar-nav .panel {
  border: 0 none;
  box-shadow: none;
  margin: 0;
  background: inherit;
}
.msb .navbar-nav li {
  display: block;
  width: 100%;
  cursor: pointer;
}
.msb .navbar-nav li a {
  padding: 15px;
  color: #ffffff98;
  
}
.msb .navbar-nav li a .glyphicon, .msb .navbar-nav li a .fa {
  margin-right: 8px;
}
.msb .nb {
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 30px;
  overflow: hidden;
}
ul.nv, ul.ns {
  position: relative;
  padding: 0;
  list-style: none;
}
 
.nv li {
  display: block;
  position: relative;
}
.nv li::before {
  clear: both;
  content: "";
  display: table;
}
.nv li a {
  color: #444;
  padding: 10px 25px;
  display: block;
  vertical-align: middle;
}
.nv li a .ic {
  font-size: 16px;
  margin-right: 5px;
  font-weight: 300;
  display: inline-block;
}
.nv .ns li a {
  padding: 10px 50px;
} 
.mcw {
  margin-left: 200px;
  position: relative;
  min-height: 100%; 
} 
a, a:focus, a:hover {
  text-decoration: none;
}
.inbox .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.inbox ul, .inbox li {
  margin: 0;
  padding: 0;
}
.inbox ul li {
  list-style: none;
}
.inbox ul li a {
  display: block;
  padding: 10px 20px;
}
.msb, .mnb {
  -moz-animation: slidein 300ms forwards;
  -o-animation: slidein 300ms forwards;
  -webkit-animation: slidein 300ms forwards;
  animation: slidein 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.mcw {
  -moz-animation: bodyslidein 300ms forwards;
  -o-animation: bodyslidein 300ms forwards;
  -webkit-animation: bodyslidein 300ms forwards;
  animation: bodyslidein 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
body.msb-x .mcw, body.msb-x .mnb {
  margin-left: 0;
  -moz-animation: bodyslideout 300ms forwards;
  -o-animation: bodyslideout 300ms forwards;
  -webkit-animation: bodyslideout 300ms forwards;
  animation: bodyslideout 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
body.msb-x .msb {
  -moz-animation: slideout 300ms forwards;
  -o-animation: slideout 300ms forwards;
  -webkit-animation: slideout 300ms forwards;
  animation: slideout 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
} 
@-moz-keyframes slidein {
  0% {
    left: -200px;
 }
  100% {
    left: 0;
 }
}
@-webkit-keyframes slidein {
  0% {
    left: -200px;
 }
  100% {
    left: 0;
 }
}
@keyframes slidein {
  0% {
    left: -200px;
 }
  100% {
    left: 0;
 }
}
@-moz-keyframes slideout {
  0% {
    left: 0;
 }
  100% {
    left: -200px;
 }
}
@-webkit-keyframes slideout {
  0% {
    left: 0;
 }
  100% {
    left: -200px;
 }
}
@keyframes slideout {
  0% {
    left: 0;
 }
  100% {
    left: -200px;
 }
}
@-moz-keyframes bodyslidein {
  0% {
    left: 0;
 }
  100% {
    margin-left: 200px;
 }
}
@-webkit-keyframes bodyslidein {
  0% {
    left: 0;
 }
  100% {
    left: 0;
 }
}
@keyframes bodyslidein {
  0% {
    margin-left: 0;
 }
  100% {
    margin-left: 200px;
 }
}
@-moz-keyframes bodyslideout {
  0% {
    margin-left: 200px;
 }
  100% {
    margin-right: 0;
 }
}
@-webkit-keyframes bodyslideout {
  0% {
    margin-left: 200px;
 }
  100% {
    margin-left: 0;
 }
}
@keyframes bodyslideout {
  0% {
    margin-left: 200px;
 }
  100% {
    margin-left: 0;
 }
}


li:hover{
  background-color: teal;
  border-radius: 4px;
  color: #ffffff !important;
}
a:hover{ 
  color: #ffffff !important;
}

.panel-body {
  padding: 15px 10px 15px;
}
li{
  border-bottom: 1px solid #3c3c3c;
}
li#dropdown {
  border-bottom: 1px solid #3c3c3c;
  
}
.nav-link {
  color: green;
}

.nav-item>a:hover {
  color: green;
}
 
.nav>.active>a {
  background-color: #C0C0C0;
  color: green;
}

:root {
  --primary: 237, 94%, 81%;
  --background: 266, 16%, 92%;
  --background-secondary: 256, 12%, 12%;
  --background-secondary-dark: 256, 10%, 10%;
  --background-secondary-light: 257, 11%, 16%;
  --text-primary: 0, 0%, 0%; 
  --black: 0, 0%, 0%;
  --white: 0, 0%, 100%;
  --quite-gray: 0, 0%, 50%;
  --grooble: 10, 28%, 93%; 
  --heading-large: 5.6rem;
  --heading-medium: 3.6rem;
  --heading-small: 2.4rem;
  --paragraph: 1.11rem;
  --navbar-buttons: 2.4rem; 
  --transition-main: .175, .685, .32; 
  --font-main: "Poppins";
}  

 */


 #morris-bar-chart {
  -webkit-transition: all 2s; /* Safari */
  transition: all 2s;
}

#morris-table-left-div {
  /*height: 350px;
  overflow: hidden;*/
}
.header-row {
  padding: 0 18px;
}
.header-column {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: inline-block;
  font-weight: 300;
  color: #555;
  /*border: 1px solid grey;*/
  padding: 0px;
  width: 24%;
  box-sizing: border-box; /*content-box|border-box|initial|inherit;*/
}
.list-group-column {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: inline-block;
  font-weight: 300;
  color: #555;
  /*border: 1px solid grey;*/
  padding: 0px;
  width: 24%;
}

a {
  color: #384b5b;
  text-decoration: none;
}