/* You can add global styles to this file, and also import other style files */


/* @import "./assets/files/css/bootstrap.min.css"; */


/*html, body { height: 100%; }

body 
{direction:rtl;
text-align: right;
} */

@import "../node_modules/alertifyjs/build/css/alertify.css";
@import "../node_modules/alertifyjs/build/css/themes/bootstrap.min.css";
@import "../node_modules/alertifyjs//build/css/themes/default.min.css";
@import "primeicons/primeicons.css";
@import '~material-design-icons/iconfont/material-icons.css';



@import "../src/assets/files/css/theme.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

